.body{

    width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
   
   
}
.mi-login{
    padding: 4%;
    border-radius: 10px;
    border: 7px solid orange;
    margin-top: 1px;
    max-width: 330px;
    text-align: center;
}
.arg-prog{
    background-color: white;
}
input{
    border-radius: 10px;
    display: block;
    margin-bottom: 30px;
}

#email{
    padding: 20px;
    width: 100%;
}
#pasw{
    padding: 20px;
    width: 100%;

}
.check {
    width: 100%;
    text-align: left;
}
.botonMio{
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30px;
    
}
label{
    color: white;
}