<app-logo-arg-prog></app-logo-arg-prog>
<div class="container">
    <div class="row" >
        <div>
            <form (ngSubmit)="onCreate()" novalidate="ngForm">
                <div class="form-group">
                    <label for="titulo" style="color:white;">TITULO :</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="lenguaje" style="color:white;">LENGUAJE :</label>
                    <input type="text" class="form-control" id="lenguaje" name="lenguaje" [(ngModel)]="lenguaje" required>
                </div>
                <div class="form-group">
                    <label for="herramientas" style="color:white;">HERRAMIENTAS :</label>
                    <input type="text" class="form-control" id="herramientas" name="herramientas" [(ngModel)]="herramientas" required>
                </div>
                <div class="form-group">
                    <label for="detalle" style="color:white;">DETALLE :</label>
                    <input type="text" class="form-control" id="detalle" name="detalle" [(ngModel)]="detalle" required>
                </div>
                <div class="form-group">
                    <label for="git" style="color:white;">GIT :</label>
                    <input type="text" class="form-control" id="git" name="git" [(ngModel)]="git" required>
                </div>
                <button class="btn btn-success" >
                    NUEVO PROYECTO
                </button>
            </form>
        </div>
    </div>
</div>
