<div id="acercaDe" class="Paneles">
    <img src="/assets/herramientas.jpg" alt="foto" class="imagenApertura">
    <div>
            <h2>Acerca de </h2>
    </div>
    <div id="info">
        <p>{{info.desc1}}</p>
        <p>{{info.desc2}}</p>
        <p>{{info.desc3}}</p>
        <p>{{info.desc4}}</p>
        <p>{{info.desc5}}</p>
    </div>
    <div class="botonDerecha">
        <button *ngIf="autorizado()" class="btn btn-success" routerLink="/pagEditInfo/:{{info.id}}">Editar mi Información</button>
    </div> 
</div>
