<div id="acercaDe" class="Paneles">
    <img src="/assets/herramientas.jpg" alt="foto" class="imagenApertura">
    <div>
            <h2>Acerca de </h2>
    </div>

    <p>{{persona.apellido}}</p>
    <p>{{persona.apellido}}</p>
    
    <p>
        
        Estudiante de Programación de la Utn Delta y autodidacta en tecnologias Informaticas
    </p>
   
    <div class="botonDerecha">
        <button class="btn btn-success">Añadir</button>
        <button class="btn btn-success">Editar</button>
    </div>
</div>
