<app-logo-arg-prog></app-logo-arg-prog>
<div class="container">
    <div class="row" >
        <div>
            <form (ngSubmit)="onCreate()" novalidate="ngForm">
                <div class="form-group">
                    <label for="nombreLenguje" style="color:white;">LENGUAJE:</label>
                    <input type="text" class="form-control" id="nombreLeguaje" name="nombreLenguaje" [(ngModel)]="lenguaje.nombreLenguaje" required disabled>
                </div>
                <div class="form-group">
                    <label for="porcentaje" style="color:white;">PORCENTAJE:</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                     [(ngModel)]="lenguaje.porcentaje" required [formControl]="porcentajeCtrl">
                    <p>
                        <small *ngIf="porcentajeCtrl.hasError('required') && porcentajeCtrl.dirty">
                            <img src="/assets/warning.png" alt="error">...Este campo es requerido no puede estar vacio...
                        </small>
                    </p>
                    <p>
                        <small *ngIf="porcentajeCtrl.hasError('pattern') && porcentajeCtrl.dirty">
                            <img src="/assets/warning.png" alt="error">...debe ingresar valores numericos entre 0 y 99 para porcentajes de aprendizaje...
                        </small>
                    </p>
                
                </div>
                <div class="form-group">
                    <label for="imagen" style="color:white;">IMAGEN:</label>
                    <input type="text" class="form-control" id="imagen" name="descripcionEdu"
                     [(ngModel)]="lenguaje.urlImagen" required [formControl]="imagenCtrl">
                     <p>
                        <small *ngIf="imagenCtrl.hasError('required') && imagenCtrl.dirty">
                            <img src="/assets/warning.png" alt="error">...Este campo es requerido no puede estar vacio...
                        </small>
                    </p>
                </div>
                <button [disabled]="porcentajeCtrl.invalid || imagenCtrl.invalid" class="btn btn-success"  >
                    Editar Lenguaje
                </button>
            </form>
        </div>
    </div>
</div>
