<app-logo-arg-prog></app-logo-arg-prog>
<div class="container">
    <div class="row" >
        <div>
            <form (ngSubmit)="onCreate()" novalidate="ngForm">
                <div class="form-group">
                    <label for="nombreExp" style="color:white;">Nombre de Empresa</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp" style="color:white;">Descripcion de Tarea</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
                </div>
                <button class="btn btn-success" >
                    Agregar Nueva Experiencia
                </button>
            </form>
        </div>
    </div>
</div>
