@media screen and (max-width: 995px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: black;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}

@media (max-width:500px) {
    table {
        font-size: 12px;
        margin-left: 127px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        width: 100px;
    }
    
    .un_first{
            display:none;
    }
    



}