<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let leng of misLenguajes">
        
        <circle-progress 
        [percent]="(leng.porcentaje)"
        [radius]="100"
        [title]="(leng.nombreLenguaje)"
        [showTitle]="true"
        [imageSrc]="dibujo(leng.nombreLenguaje)"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        <div>
            <button class="btn btn-success miBoton" *ngIf="autorizado()" routerLink="/pagEditLenguaje/{{leng.id}}">Editar</button>
        </div>
        <br>
        <br>
    </div> 
    
</div>
