<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/logos/html5-logo.jpg'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>        
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/logos/cssLlogo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/logos/javaScript-logo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [imageSrc]="'../assets/logos/java-logo.jpg'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>     
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/logos/logo-mysql.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="100"
        [imageSrc]="'../assets/logos/angularLogo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>                    

</div>
