<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'CREATIVIDAD'"
        [titleColor]="'white'"
        [titleFontSize]="'1.6em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>     
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showSubtitle]="false"
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [title]="'DEDICACION'"
        [titleColor]="'white'"
        [titleFontSize]="'1.6em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [showSubtitle]="false"
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'COMPROMISO'"
        [titleColor]="'white'"
        [titleFontSize]="'1.6em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>                    

</div>

