<div id="Logros" class="Paneles">
    <img src="/assets/logros.jpg" alt="foto" class="imagenApertura">
    <h2>Logros</h2>
    <p>Argentina Programa: #SeProgramar</p>
    <app-circulo-logros></app-circulo-logros>
    <h2>Mis logros en argentina programa:</h2>
    <p>
        La realización del curso me dio herramientas de desarrollo que incrementaron mi experiencia
        en sistemas. He investigado creado y puesto en marcha un proyecto completo de front-end y back-
        end incorporando todos los requisitos que tuve a mi alcance.
        Después de este proyecto creo que tengo mas conocimientos y 
        junto con mi titulo de Técnico Superior en Programación forman una buena base
        para aspirar a incorporarme al mundo IT en Gral. 
    </p> 
    
    <!--<div class="botonDerecha">
        <button class="btn btn-success">Añadir</button>
        <button class="btn btn-success">Editar</button>
    </div> -->
    
</div>
