<p>editar-info works!</p>
<app-logo-arg-prog></app-logo-arg-prog>
<div class="container">
    <div class="row" >
        <div>
            <form  novalidate="ngForm" (ngSubmit)="onCreate()">
                <div class="form-group">
                    <label for="desc1" style="color:white;">Parrafo 1:</label>
                    <textarea name="desc1" id="desc1" cols="50" rows="3"  class="form-control" [(ngModel)]="info.desc1" required [formControl]="parrafo1Ctrl">
                    {{info.desc1}}
                    </textarea>
                    <p>
                        <small *ngIf="parrafo1Ctrl.hasError('required') && parrafo1Ctrl.dirty">
                            <img src="/assets/warning.png" alt="error">....el campo es requerido...
                        </small>
                   </p>
                   <p>
                        <small *ngIf="parrafo1Ctrl.hasError('pattern')">
                            <img src="/assets/warning.png" alt="error">... minimo 4 caracteres y 255 como maximo ...
                        </small>
                    </p>
                </div>
                <div class="form-group">
                    <label for="desc2" style="color:white;">Parrafo 2:</label>
                    <textarea name="desc2" id="desc2" cols="50" rows="3"  class="form-control" [(ngModel)]="info.desc2" required [formControl]="parrafo2Ctrl">
                    {{info.desc2}}
                    </textarea>
                    <p>
                        <small *ngIf="parrafo2Ctrl.hasError('required') && parrafo2Ctrl.dirty">
                            <img src="/assets/warning.png" alt="error">....el campo es requerido...
                        </small>
                   </p>
                   <p>
                        <small *ngIf="parrafo2Ctrl.hasError('pattern')">
                            <img src="/assets/warning.png" alt="error">... minimo 4 caracteres y 255 como maximo ...
                        </small>
                    </p>
                </div>
                <div class="form-group">
                    <label for="desc3" style="color:white;">Parrafo 3:</label>
                    <textarea name="desc3" id="desc3" cols="50" rows="3"  class="form-control" [(ngModel)]="info.desc3" required [formControl]="parrafo3Ctrl">
                    {{info.desc3}}
                    </textarea>
                    <p>
                        <small *ngIf="parrafo3Ctrl.hasError('required') && parrafo3Ctrl.dirty">
                            <img src="/assets/warning.png" alt="error">....el campo es requerido...
                        </small>
                   </p>
                   <p>
                        <small *ngIf="parrafo3Ctrl.hasError('pattern')">
                            <img src="/assets/warning.png" alt="error">... minimo 4 caracteres y 255 como maximo ...
                        </small>
                    </p>
                </div>
                <div class="form-group">
                    <label for="desc4" style="color:white;">Parrafo 4:</label>
                    <textarea name="desc4" id="desc1" cols="50" rows="3"  class="form-control" [(ngModel)]="info.desc4" required [formControl]="parrafo4Ctrl">
                    {{info.desc4}}
                    </textarea>
                    <p>
                        <small *ngIf="parrafo4Ctrl.hasError('required') && parrafo4Ctrl.dirty">
                            <img src="/assets/warning.png" alt="error">....el campo es requerido...
                        </small>
                   </p>
                   <p>
                        <small *ngIf="parrafo4Ctrl.hasError('pattern')">
                            <img src="/assets/warning.png" alt="error">... minimo 4 caracteres y 255 como maximo ...
                        </small>
                    </p>
                </div>
                <div class="form-group">
                    <label for="desc5" style="color:white;">Parrafo 5:</label>
                    <textarea name="desc5" id="desc1" cols="50" rows="3"  class="form-control" [(ngModel)]="info.desc5" required [formControl]="parrafo5Ctrl">
                    {{info.desc5}}
                    </textarea>
                    <p>
                        <small *ngIf="parrafo5Ctrl.hasError('required') && parrafo5Ctrl.dirty">
                            <img src="/assets/warning.png" alt="error">....el campo es requerido...
                        </small>
                   </p>
                   <p>
                        <small *ngIf="parrafo5Ctrl.hasError('pattern')">
                            <img src="/assets/warning.png" alt="error">... minimo 4 caracteres y 255 como maximo ...
                        </small>
                    </p>
                </div>
                <!--boton-->
                <button [disabled]="parrafo1Ctrl.invalid || parrafo2Ctrl.invalid 
                || parrafo3Ctrl.invalid || parrafo4Ctrl.invalid || parrafo5Ctrl.invalid"
                 class="btn btn-success" >
                    Editar mi Informacion
                </button>
            </form>
        </div>
    </div>
</div>
